{% extends "base.html" %} 
{% block title %}Scheduler{% endblock %}
{% block content %}

<header>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
</header>

<h1 align="center">Welcome to VR Scheduler</h1>
<br/>

<h5>Enter Date and Time to Schedule Appointment</h5>

<form method="POST">
  <div class="form-group">
    <label for="startdatetime">Name,IDNumber-VR #</label>
    <input
      type="text"
      class="form-control"
      id="user name"
      name="userName"
    />
  </div>
  <div class="form-group">
    <label for="startdatetime">Please Select Date:</label>
    <input
      type="date"
      class="form-control"
      id="startdatetime"
      name="startdatetime"
    />
  </div>  
  <span class="input-group-addon">Please select Time:</span>
  <select name="comp_select" class="selectpicker form-control">
    <option>Select Hour</option>
    {% for hour in hourlist %}
    <option value="{{ hour.hourss }}">{{ hour.hourss }}</option>
    {% endfor %}
  </select>
  <br/>
  <button type="submit" class="btn btn-warning">Schedule an Appointment</button>
  <a class="btn btn-warning" href="/">Go Back</a>
</form>

{% endblock %}